@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.animate-float {
  animation: floatUp 1s ease-out forwards;
}
.animate-float2 {
  animation: floatUp 5s ease-out forwards;
}
