.strip-track {
  animation: scrollLoop 1s linear infinite;
  will-change: transform;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60px); /* przesuwa o 1 pole w lewo */
  }
}
.will-change-transform {
  will-change: transform;
  transform: translateZ(0);
}

